[submodule "dreamcoder"]
	path = dreamcoder
	url = https://github.com/samacqua/dreamcoder
	branch = main
[submodule "data/lax"]
	path = data/lax
	url = https://github.com/cogtoolslab/lax
	ignore = all
