*.aux
*.out
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.bbl
*.blg
*.pyc
__pycache__
_build
*.cost
container.img
venv/
.DS_Store
compressionMessages/
experiments/
experiments_iterative/
.vscode
.ipynb_checkpoints

cache
query_cache*
history.jsonl
test_primitives.py

message
dfl2dsl.code-workspace